
<p id="notice"><%= notice %></p>

<%# <div class= 'backgrounds'> %>
<div class= 'box'>
<h2>Greetings from Perun</h2>

<p>The nice thing about creating your own running blog is you get to decide the content, layout, well everything. I am not a runner, nor will you ever hear me claim to be. I may job a bit, but I dont really run my body just is not setup for it. I run to keep in shape and enjoy a health work/life/play balance. I find running to be an easy and cheap answer to exercise. I also like the feeling of running when the endorphins hit, and you have given it all you got to finish the run.
Last year I ran a 5-mile race in Boston and as the race continued, I sped up more and more. When I started the race, I did not think I would finish, let along get faster as the race went along. So I took my time with the run got to know my body and my ability in the race. At last, when I finished the race, I felt very good as well as happy with my accomplishment. This is why I like to run, not that I will ever be even remotely competitive or fast, but I like the actual journey 
of the run. I feel like running gives me the time to think, learn, and grow. I believe, while running, I become a more complete version of myself. </p>
<div class= 'flex-container'>
<img src="https://media.gettyimages.com/photos/leonard-p-zakim-bunker-hill-bridge-picture-id146582270?s=2048x2048" alt="cambridge">
<img src="https://media.gettyimages.com/photos/fall-foliage-in-vermont-picture-id523044453?s=2048x2048" alt="cambridge">
<img src="https://media.gettyimages.com/photos/harvard-university-picture-id183025103?s=2048x2048" alt="cambridge">
<img src="https://media.gettyimages.com/photos/john-w-weeks-bridge-dunster-house-havard-university-cambridge-boston-picture-id578751544?s=2048x2048" alt="cambridge">
</div>
<p> This app is centered around Cambridge, MA., as I do most of my runs in the area, I felt like making it the focal point of the app. The app has the ability for any user to post their running journey. Please share your experiences and encouragements.</p>

<div class='center'>
<iframe width="560" height="315" src="https://www.youtube.com/embed/hpGWrSGUXD8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<%# </div> %>
